@import './components/FilmsView/FilmsView.css';
@import './components/FilmsCharacters/FilmsCharacters.css';

body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}